@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="width: 10%; height: 50%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; ">
    <h1 class="display-4">Welcome!</h1>
    <p>Simple library project.</p>
</div>
