@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center" style="width: 10%; height: 5%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; ">
Created by <i><a href="https://github.com/ovrael"> Jacek Jendrzejewski </a>.</i>
</div>
